@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800;900&family=Nunito+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #212429;
}

hr {
    width: 100%;
    height: 1px;
    margin: 1.5rem 0;
}

a.link-element {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
}

img.icon {
    width: 32px;
    height: 32px;
}

span.high-text, a {
    color: #19C1CE;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    z-index: 1;
    background-color: #FFFFFF;    
    border-bottom: 1px solid #CFD3D8;
}

header .logo-default {
    height: 25px;
}

header #dropdown {
    display: none;
}

main {
    margin-top: 4rem;
}

/* MENU */
#menu ul {
    list-style: none;
}

#menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#menu .action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* INTRO SECTION */
#intro {    
    background-color: #F1F3F5;
}

#intro p {
    margin-top: 1.5rem;
}

/* FORM SECTION */
#form .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem 1.5rem;
    background-color: #FFFFFF;
    border-radius: 2px;
}

#form h4 {
    text-align: center;
}

#form p {
    text-align: center;
    margin-top: 1rem;
    color: #7E8A98;
}

#form hr {
    background-color: #CFD3D8;
}

#form .success {
    display: none;
}

#form ul {
    color: #7E8A98;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1.125rem;
}

/* INFO SECTION */
#info {    
    background-color: #0B485B;
    color: #FFFFFF;
}

#info p:first-of-type {
    margin: 1rem 0 1.5rem 0;
}

/* BUTTON */
button {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    font-size: 1rem;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    color: #212429;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button > img {
    height: 1.25rem;
    margin-left: 0.5rem;
}

button.primary {    
    background-color: #19C1CE;    
    border: none;    
}

button.secondary {
    border: 2px solid #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

button.highlight {
    background-color: #F2BF4E;    
    border: none;   
}

/* RESULTS SECTION */
#results {
    display: flex;    
    padding-bottom: 2.5rem;
    background-color: #F1F3F5;
}

#results img {
    width: 100%;
}

#results p {
    margin: 0.5rem 0 1.5rem 0;
}

#results li {
    list-style: none;
    background-image: url('../images/icons/checkmark.svg');
    background-repeat: no-repeat;
	background-position: left top;
    background-size: 1.125rem;
    background-position: 0.3rem 0.3rem;

    padding-left: 2.5rem;
}

#results li + li {
    margin-top: 1.5rem;
}

/* PROS SECTION */
#pros {
    background-color: #FFFFFF;
}

/* CALL SECTION */
#call .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    
    color: #FFFFFF;
}

#call h2 {
    text-align: center;
}

#call p {
    text-align: center;
}

/* DEMO SECTION */
#demo {
    display: flex;
    background-color: #F1F3F5;
}

#demo button {
    justify-content: center;
    margin: 1rem 1.75rem 2rem 1.75rem;
    background-color: transparent;
}

#demo button img {
    width: 1.25rem;
    height: 1.25rem;
}

#demo img {
    width: 100%;
}

.video-wrap {
    position: relative;
}

.video-wrap .thumbnail {
    width: 100%;
}

.video-wrap .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 3;
    padding: 1rem;
    background-color: rgba(33, 36, 41, 0.14);
}

.modal-inner img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#modal.open {
    pointer-events: all;
    opacity: 1;
    transition: opacity 200ms;
}

.modal-inner {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    text-align: right;
    box-shadow: 0 0.25rem 0.75rem 0 rgba(33, 36, 41, 0.14);    
    transition: all 0.5s ease 0s;    
}

#demo .modal-inner img {
    width: 2rem;
    height: 2rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
}

.media-container {
    position: relative;
    padding-bottom: 56.25%;
}

.media-container iframe {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* TOOLS SECTION */
#tools {
    display: flex;
    flex-direction: column;

    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

#tools p {
    margin-top: 1rem;
}

.tools-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.tool p {
    text-align: center;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;    
    background-color: #19C1CE;

    padding-bottom: 2.5rem;
}

footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer img {
    height: 2rem;
}

footer hr {
    background-color: #78EDF2;
    margin-top: 1.5rem;
}

footer .social-medias {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

footer p, footer a {
    color: #212429;
}

/* TEXTS */
.subtitle-sm {
    line-height: 140%;
}

.subtitle-xs {
    font-size: 0.875rem;
    line-height: 120%;
}

.body-lg {
    font-size: 1.25rem;
}

.body-sm {
    font-size: 0.875rem;
}

/* HEADLINES */
h1, h2, h3, h4 {
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 100%;
    font-weight: 900;
}

h3 {    
    line-height: 110%;
}

h4 {
    line-height: 110%;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    header, section, footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header .icon {
        cursor: pointer;
    }

    .land-only {
        display: none;
    }

    /* MENU */
    #menu {
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100vw;

        background-color: #FFFFFF;
        border-bottom: 1px solid #CFD3D8;
        transition: top 0.2s ease-in;
    }

    #menu.open{    
        top: 4rem;        
    }

    #menu ul {
        padding: 2.5rem 1rem 3.5rem 1rem;
        border-bottom: 1px solid #CFD3D8;
    }

    #menu li {
        padding: 1rem 0;
    }

    #menu li + li {
        border-top: 1px solid #CFD3D8;
    }

    #menu .action-buttons {
        justify-content: space-around;

        padding: 1.5rem 3rem;
        background-color: #F1F3F5;
    }

    #dropdown.open {
        display: none;
    }

    /* INTRO SECTION */
    #intro {
        padding-top: 2.5rem;
        padding-bottom: 2rem;
    }

    /* FORM SECTION */
    #form {
        background-color: #F1F3F5;
        padding-bottom: 2.5rem;
    }

    #form hr {
        margin-top: 2rem;
    }

    /* INFO SECTION */
    #info {
        padding-top: 3rem;
        padding-bottom: 2.5rem;
    }

    /* RESULTS SECTION */
    #results {
        flex-direction: column-reverse;
        padding-top: 2.5rem;
    }

    #results img {
        margin-top: 2.5rem;
    }

    /* CALL SECTION */
    #call .content {
        padding: 2.5rem 1rem;
        margin-bottom: 4rem;
        background-color: #0B485B;
    }

    #call p {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    /* DEMO SECTION */
    #demo {
        flex-direction: column;
        align-items: stretch;
        padding-top: 2.5rem;
    }

    .video-wrap .play-btn {
        width: 5rem;
        height: 5rem;
    }

    #call button {
        margin: 0 2.5rem;
    }

    /* TOOLS SECTION */
    #tools {
        align-items: stretch;
    
        padding-top: 2.5rem;
        padding-bottom: 5rem;
    }

    .tools-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        margin: 2.5rem;
    }

    #tools button {
        margin: 0 3rem;
    }

    /* FOOTER */
    footer {
        padding-top: 1.5rem;
        align-items: center;
    }

    footer .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer hr {
        margin-bottom: 1.75rem;
    }

    footer .social-medias {
        margin-bottom: 1.5rem;
    }

    /* HEADLINES */
    h1 {    
        font-size: 2.5rem;    
    }

    h2 {    
        font-size: 2rem;
    }

    h3 {    
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}


@media screen and (min-width: 768px) {
    header, section:not(#form), footer {
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }

    header .icon {
        display: none;
    }

    .half {
        width: 40vw;
    }

    .mobile-only {
        display: none;
    }

    header #dropdown {
        position: fixed;
        top: 4rem;
        right: 0;
    
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        gap: 2.5rem;
    
        padding: 1.5rem;
        background-color: #FFFFFF;
        box-shadow: 0 0.25rem 0.75rem 0 rgba(33, 36, 41, 0.14);
    }
    
    #dropdown.open {
        display: flex;
    }
    
    #dropdown .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        padding: 0;
    }
    
    .column p {
        margin-top: 1rem;
        cursor: pointer;
    }
    
    #dropdown h5 {
        font-family: 'Darker Grotesque', sans-serif;
        line-height: 110%;
        font-weight: 800;
        font-size: 1.125rem;
        text-transform: uppercase;
    
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid #CFD3D8;
        color: #19C1CE;
    }
    
    /* MENU */
    #menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #menu ul {
        display: flex;
    }
    
    #menu li {
        gap: 0.25rem;
        margin-right: 4rem;
    }
    
    #menu .action-buttons {
        display: flex;
        gap: 1rem;
    }

    /* INTRO SECTION */
    #intro {
        padding-top: 7.5rem;
        padding-bottom: 18rem;
        min-height: 80vh;
    }

    /* FORM SECTION */
    #form {
        position: absolute;
        top: 6.5rem;
        right: 6.75rem;
        width: 35vw;
    }

    #form hr {
        margin-bottom: 0.5rem;
    }

    /* INFO SECTION */
    #info {
        padding-top: 5rem;
        padding-bottom: 5rem;
        min-height: 40vh;
    }

    /* RESULTS SECTION */
    #results {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 13.875rem;
        padding-bottom: 5rem;
        min-height: 110vh;
    }

    #results .content {
        width: 35vw;
    }

    /* PROS SECTION */
    #pros {
        padding-top: 7.5rem;
    }

    /* CALL SECTION */
    #call {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        background-color: #0B485B;
    }

    #call .content {
        margin: 5rem;
        width: 67%;
    }

    #call .content h2 {
        margin: 0 3.25rem;
    }

    #call p {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    #call button {
        margin: 0 17.25rem;
    }

    /* DEMO SECTION */
    #demo {
        flex-direction: row;
        align-items: stretch;
        margin-top: 7.5rem;
    }

    #demo .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: 33%;
        margin-right: 10%;
    }

    #demo .content button {
        margin: 2.5rem 0 0 0;
    }

    .video-wrap .thumbnail {
        height: 100%;
    }

    .video-wrap .play-btn {
        width: 10rem;
        height: 10rem;
    }

    .modal-inner {
        width: 50%;
    }

    /* TOOLS SECTION */
    #tools {
        align-items: flex-start;
    
        padding-top: 2.5rem;
        padding-bottom: 5rem;
    }

    #tools .content {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    
        padding-top: 2.5rem;
    }

    .tools-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    .tool p {
        font-size: 0.875rem;
    }

    /* FOOTER */
    footer {
        padding-top: 2.5rem;
        align-items: flex-end;
    }

    footer .content {
        flex-direction: row;        
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    footer hr {
        margin-bottom: 1.5rem;
    }

    /* TEXTS */
    .subtitle-sm {
        font-size: 1.25rem;
    }

    /* HEADLINES */
    h1 {    
        font-size: 3.5rem;    
    }

    h2 {    
        font-size: 2.5rem;
    }

    h3 {    
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}